/* Общие стили */
html, body {
	height: 100%;
}

body {
	font: normal 100% 'Helvetica Neue', cursive;
	margin: 0;
	padding: 0;
	color: #fff;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

.section {
	text-align: center;
}

.content {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.content:after {
	content: "";
	display: table;
	clear: both;
}

/* Меню в шапке сайта */
#menu {
	height: 60px;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 70;
	text-align: center;
	font-size: 18px;
	font-weight: 200;
	background: rgba(38, 32, 25, 1);
}

#menu li {
	display: inline-block;
	margin: 10px;
	color: #9C856E;
	background: inherit;
	-webkit-border-radius: 10px;
	/*border-radius: 10px;*/
}

#menu li a {
	text-decoration: none;
	color: #9C856E;
}

#menu li.active {
	background: inherit;
	color: #F7C220;
}

#menu li.active a {
	color: #F7C220;
}

#menu li a,
#menu li.active a {
	padding: 9px 18px;
	display: block;
}

#menu li.active a:hover {
	color: #D1B9A1;
}

#menu li:hover a {
	background: inherit;
	color: #D1B9A1;
}

#header {
	height: 100%;
	min-height: 300px !important;
	position: relative;
}

#header .wrap {
	left: 50%;
	max-width: 800px;
	padding: 0 15px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

#header h1 {
	font-size: 65px;
	font-weight: 900;
	line-height: 95px;
	padding-top: 50px;
	margin: 0 0 20px;
	text-align: center;
}

#header p {
	font-size: 32px;
	font-weight: 300;
	line-height: 36px;
	padding: 20px;
	text-align: justify;
}

.backToSitehereBtn {
	display: block;
	width: 150px;
	height: 150px;
	background: #01BC78;
	text-align: center;
	line-height: 170px;
	font-size: 20px;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	text-decoration: none;
	top: 29px;
	left: -40px;
	transform: rotate(-45deg) scale(1);
	transition: all 0.25s linear;
}

.backToSitehereBtn:hover {
	text-decoration: none;
	top: 30px;
	left: -10px;
	transform: rotate(-45deg) scale(1.3);
}

.wrap {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.shade {
	position: absolute;
	display: block;
	background-color: #262019;
	opacity: 0.9;
	width: 100%;
	height: 100%;
}

.title {
	float: none;
	width: 50%;
	position: absolute;
	font-size: 3em;
	font-weight: 200;
	font-stretch: ultra-expanded;
	color: #D1B9A1;
}

.fl-l {	float: left; }
.fl-r {	float: right; }

.pos-abs { position: absolute; }

.w-100 { width:100%; }
.w-50 { width: 50%; }
.w-25 { width: 25%; }

.h-100 { height: 100%; }

.center { text-align: center; }

.mt-60 { margin-top: 60px; }
