html, body {
	height: 100%;
}

body {
	font: normal 100% 'Comfortaa', cursive;
	margin: 0;
	padding: 0;
	color: #fff;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}

.content {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.content:after {
	content: "";
	display: table;
	clear: both;
}

#fullpage {

}

#menu {
	height: 60px;
	left: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 70;
	text-align: center;
	background: #000000;
}

#menu li {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5, 255);
	border-radius: 4px;
	color: #000;
	display: inline-block;
	margin: 10px;
}

#menu li a, #menu li.active a {
	color: #20B2AA;
	display: block;
	padding: 9px 18px;
	text-decoration: none;

}

#menu li.active {
	background: none;
}

/**/
#header {
	height: 100%;
	min-height: 300px !important;
	position: relative;
}

#header .wrap {
	left: 50%;
	max-width: 800px;
	padding: 0 15px;
	position: absolute;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

#header h1 {
	font-size: 65px;
	font-weight: 900;
	line-height: 95px;
	padding-top: 50px;
	margin: 0 0 20px;
	text-align: center;
}

#header p {
	font-size: 32px;
	font-weight: 300;
	line-height: 36px;
	padding: 20px;
	text-align: justify;
}

.scrollicon, .imgNumber {
	text-align: center;
}

.imgNumber img {
	margin-top: 12%;
}

.backToSitehereBtn {
	display: block;
	width: 150px;
	height: 150px;
	background: #01BC78;
	text-align: center;
	line-height: 170px;
	font-size: 20px;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	text-decoration: none;
	top: 29px;
	left: -40px;
	transform: rotate(-45deg) scale(1);
	transition: all 0.25s linear;
}

.backToSitehereBtn:hover {
	text-decoration: none;
	top: 30px;
	left: -10px;
	transform: rotate(-45deg) scale(1.3);
}