@import "_variables"

/* Стили для формы отправки заказа */
*
	font-family: $font-main

.form-field-content
	margin-top: 10px

.form-label
	display: block
	min-width: 100px
	width: 100%
	margin: 0 auto
	text-align: left

.form-toggle input
	position: relative
	vertical-align: middle
	margin-left: 20px

.form-submit
	text-align: center

.no-visible
	display: none


form#order-purchase
	position: relative
	margin-top: 0
	@include center
	width: 50%
	text-align: left

	input, textarea
		border: 2px solid $active-text-color
		border-radius: 0
		&:focus
			border-color: $focused-elem-border
	textarea
		height: 150px
	input[type='text'], input[type='tel'], input[type='email'], textarea
		padding: 5px 0 5px 5px
		width: 300px
		font-weight: 400
	input[type='submit']
		padding: 10px 20px
		margin: 10px 0
		border: none
		background-color: $btn-color
		color: $text-color
		font-weight: 700
		font-variant: small-caps
		letter-spacing: 2px
	table
		tr
			text-align: center
		.labels
			margin-right: 15px
			text-align: right
			color: $text-color
			font-weight: lighter
		.fields
			padding: 10px 0 10px 10px
			text-align: right
			color: $background-color
			font-size: 1em
