@mixin center
	margin-left: auto
	margin-right: auto

@mixin border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

@mixin content-box
	-webkit-box-sizing: content-box
	-moz-box-sizing: content-box
	box-sizing: content-box

// fonts
$font-main: 'Helvetica Neue', sans-serif
$font-size: 20px

// colors
$background-color: #000000
$text-color: #E9E9E9
$active-text-color: #FF9900
$hover-text-color: #BCBCBC
$btn-color: #3299BB
$btn-active-color: #32BBBB
$focused-elem-border: #FE2045