// font
$font-main: 'Helvetica Neue', sans-serif
$font-size: 20px

// colors
$background-color: #000000
$text-color: #E9E9E9
$active-text-color: #FF9900
$hover-text-color: #BCBCBC
$btn-color: #3299BB
$btn-active-color: #32BBBB
$focused-elem-border: #FE2045

/* Общие стили */
html, body
	height: 100%

body
	margin: 0
	padding: 0
	background-color: $background-color
	font-family: $font-main
	color: $text-color

*
	box-sizing: border-box

p
	margin: 0

img
	max-width: 100%

.section
	text-align: center

/* Верхнее меню */
#menu
	position: fixed
	z-index: 70
	left: 0
	top: 0
	width: 100%
	height: 60px
	margin: 0
	padding: 0
	background: $background-color
	text-align: center
	font-size: 20px
	font-variant: small-caps
	font-weight: 200
	li
		display: inline-block
		margin: 10px
		background: inherit
		a
			display: block
			padding: 9px 18px
			color: $text-color
			text-decoration: none
			&:hover
				color: $hover-text-color
	li.active
		background: inherit
		a
			display: block
			padding: 9px 18px
			color: $active-text-color
			&:hover
				color: $hover-text-color

/* Обертка для слайдов */
.wrapper
	position: relative
	width: 100%
	height: 100%
	overflow: hidden
	padding-top: 60px
	text-align: center

/* Для фоновых картинок */
.back
	position: absolute
	top: 0
	left: 0
	min-width: 100%
	min-height: 100%
	background-size: cover

.vignette
	-webkit-box-shadow: inset 0 0 100px $background-color, inset 0 0 100px $background-color, inset 0 0 100px $background-color
	-moz-box-shadow: inset 0 0 100px $background-color, inset 0 0 100px $background-color, inset 0 0 100px $background-color
	box-shadow: inset 0 0 100px $background-color, inset 0 0 100px $background-color, inset 0 0 100px $background-color

.backToPurchasingBtn
	position: absolute
	display: block
	top: 29px
	left: -40px
	width: 150px
	height: 150px
	border-radius: 50%
	background: $btn-color
	color: $text-color
	text-align: center
	line-height: 170px
	font-size: 20px
	text-decoration: none
	transform: rotate(-45deg) scale(1)
	transition: all 0.25s linear
	&:hover
		top: 30px
		left: -10px
		text-decoration: none
		transform: rotate(-45deg) scale(1.3)

.purchase-btn
	position: relative
	display: block
	margin-left: auto
	margin-right: auto
	padding: 20px 25px
	border: none
	background: #3299BB
	color: #E9E9E9
	font-size: 2.5em
	font-weight: lighter
	cursor: pointer
	&:active
		background-color: $btn-active-color

/* Стили для формы отправки заказа */
form#order-purchase
	position: relative
	display: none
	margin-top: 0
	margin-left: auto
	margin-right: auto
	width: 50%
	text-align: left
	input, textarea
		border: 2px solid $active-text-color
		border-radius: 0
		&:focus
			border-color: $focused-elem-border
	textarea
		height: 150px
	input[type='text'], input[type='tel'], input[type='email'], textarea
		padding: 5px 0 5px 5px
		width: 300px
		font-weight: 400
	input[type='submit']
		padding: 10px 20px
		margin: 10px 0
		border: none
		background-color: $btn-color
		color: $text-color
		font-weight: 700
		font-variant: small-caps
		letter-spacing: 2px
	table
		tr
			text-align: center
		.labels
			margin-right: 15px
			text-align: right
			color: $text-color
			font-weight: lighter
		.fields
			padding: 10px 0 10px 10px
			text-align: right
			color: $background-color
			font-size: 1em

/* Заголовки на слайдах */
.title
	position: relative
	margin-left: auto
	margin-right: auto
	width: 70%
	color: $text-color
	font-size: 3em
	font-weight: lighter
	letter-spacing: 5px

/* Карточки причин */
.card
	position: relative
	display: inline-block
	width: 300px
	margin: 20px 10px 20px 10px
	padding: 10px
	text-align: center
	.image
		position: inherit
		width: 280px
		height: 280px
	.unique-design-card
		background-image: url('http://tlt-land.ru/journal/images/design.jpg')
	.high-quality-card
		background-image: url('http://brainhack.org/wp-content/uploads/sites//sites/3/2014/05/n-doors-lighting-guality01.jpeg')
	.style-form-card
		position: inherit
		background-image: url('http://img3.st.klumba-ua.com/img/used/2016/04/20/9710/9710828_2.jpg')
	.card-title
		font-size: 120%
		font-weight: 500
	.card-desc
		display: inline-block
		height: 80px
		vertical-align: bottom

/* Вспомогательные классы */
.fl-l
	float: left

.fl-r
	float: right

.pos-abs
	position: absolute

.w-50
	width: 50%

.w-25
	width: 25%

.h-100
	height: 100%

.center
	text-align: center

.mt-40
	margin-top: 40px

.mt-60
	margin-top: 60px

.br-50
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%

/* Мобильные экраны (портретная ориентация) */
@media only screen and (max-width: 440px) and (orientation: portrait)
	body
		font-size: $font-size / 2

	.section
		padding-top: 30px

	#menu
		width: 100%
		height: 30px
		li
			width: 20%
			margin: 0
			padding: 0
			a
				padding: 5px 0
				font-size: $font-size / 2
		li.active
			a
				padding: 0

	.title
		width: 100%

	#section1, #section2
		.title
			margin-top: 20px
			font-size: $font-size * 0.75

	.purchase-btn
		width: 95%
		text-align: center
		white-space: normal

	.section1, .section3
		.purchase-btn
			position: absolute !important
			bottom: 10px

	.card
		position: relative
		display: block
		width: 100%
		padding: 5px
		box-sizing: border-box
		margin-top: 10px
		vertical-align: middle
		.image
			position: relative
			float: left
			width: 150px
			height: 150px
		.card-title, .card-desc
			position: relative
			float: right

/* Мобильный экран (альбомная ориентация) */
@media only screen and (max-width: 780px) and (orientation: landscape)
	.section
		margin: 0
		margin-left: 70px

	#menu
		width: auto
		li
			position: relative
			display: block
			width: 70px

@media screen and (min-width: 721px) and (max-width: 1080px)


@media screen and (min-width: 1081px)
	.carousel
		margin: 20px auto
	.stop
		width: 100%
		height: 380px